/* normalizers */
* {
    box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

input {
    height: 40px;
    border-radius: 4px;
    padding: 10px;
    margin-left: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* containers */
.container {
    max-width: 700px;
    margin: 0 auto;
}

/* buttons */
.btn {
    padding: 12px 15px;
    background-color: #932765;
    border-radius: 4px;
    color: white;
}

.btn:hover {
    cursor: pointer;
}

/* flexbox */
.flex {
    display: flex;
}

.justify {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

/* modals */
.modal-container {
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.success-modal {
    width: 300px;
}

.modal-open {
    display: flex;
}

.modal-closed {
    display: none;
}

.modal {
    padding: 20px;
    background-color: #f9e735;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.modal h1 {
    margin: 0 0 25px 0;
}